node_modules
package-lock.json
.env
uploads
google.services.json
serviceAccountKey.json
.next
mongo-data
scripts/mongo-setup.sh
service_error.txt
final_service_status.txt
final_retry.txt
err.log
backend.log
